.login{
    position: fixed;
    z-index: 20;
    width: 350px;
    margin-left: 50%;
    left: -175px;
    top: 13em;
}

/* <style type="text/css">
#fcentrado {
position:fixed;
width:400px;
background:green;
margin-left:50%;
left:-200px;
} */