* {
  margin:0; 
  padding:0;
}
body{
  background-color:#E1F7FB;
  /* background-color: red; */
  margin: 0.5rem;
}
/* ------------------------------------
COLORS 
---------------------------------------*/
.transparent{
  background-color: transparent;
}
.green{
  color: #29A18C;
}
.blue{
  color: #195392;
}
.red{
  color: #EE7A71;
}
.grey{
  color: #707070;
}
.redbg{
  background-color: red;
}
/* ------------------------------------
FONTS 
---------------------------------------*/
.child{
  font-family:'childish-reveriebold';
}
.childIcon{
  font-family: 'childish-reverie-doodlesRg';
}
.dosis{
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}
.uppercase{
  text-transform: uppercase;
}
p{
  line-height: 1.25em;
}
/* ------------------------------------
SIZES 
---------------------------------------*/
.symbol{
  font-size: 2.25em;
}
.title{
  font-size: 2em;
}
.medium{
  font-size: 1.25em;
}
.normal{
  font-size: 1em;
}
.mini{
  font-size: 0.75em;
}
/* ------------------------------------
WEIGHT FONTS 
---------------------------------------*/
.heavy{
  font-weight: 800;
}
.mediumbold{
  font-weight: 500;
}
/* ------------------------------------
BUTTONS
---------------------------------------*/
.btn-green{
  background-color: #29A18C;
  color: white;
  width: 12em;
}
.btn-green:hover{
  background-color: #207e6e;
  color: white;
}
.btn-green-ghost{
  background-color: white;
  color:  #29A18C;
  border: 0px solid #29a18c;
  width: 12em;
}
.btn-blue{
  background-color: #195392;
  color: white;
  width: 12em;
}
.btn-blue:hover{
  background-color: #1f64ad;
  color: white;
  width: 12em;
}
/* ------------------------------------
A TAGS
---------------------------------------*/
a{
  text-decoration: none !important;
}
/* ------------------------------------
BORDERS
---------------------------------------*/
.border-green-2{
  border: 2px solid #29A18C;
}
.border-blue-1{
  border: 1px solid #195392;
}
.border-blue-2{
  border: 2px solid #195392;
}
/* ------------------------------------
Z-INDEX
---------------------------------------*/
/* .z1{
  z-index: 1;
}
.z10{
  z-index: 10;
} */
/* ------------------------------------
MARGIN
---------------------------------------*/
.margin-header{
  margin-top: 8.25em;
}
.fondo{
  background-color: red;
}
/* ------------------------------------
HEADER 
---------------------------------------*/
.header{
  /* position: fixed; */
  /* width: 90%; */
  margin: auto;
  z-index: 40;
  background-color: #E1F7FB;
}
.userIcon, .questionIcon{
  font-size: 30px;
  color: #29A18C;
  /* background-color: red; */
}
.loupe{
  font-size: 24px;
  color: #195392;
}
.logo{
  height: 2.64em;
}
.width100{
  width: 100%;
}
.width70{
  width: 70%;
}
.width30{
  width: 70%;
}
form.search{
  height: 40px;
}
input.search{
  height: 35px;
}
/* ------------------------------------
MSIGNUP 
---------------------------------------*/
.signup{
  position: fixed;
  z-index: 40;
  width: 350px;
  margin-left: 50%;
  left: -175px;
  top: 8em;
}
.overlay-cyan{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: #e1f7fbb2;
}
/* ------------------------------------
MLOGIN 
---------------------------------------*/
.login{
  position: fixed;
  z-index: 20;
  width: 350px;
  margin-left: 50%;
  left: -175px;
  top: 13em;
}
/* ------------------------------------
MYBOOK 
---------------------------------------*/
.mybook{
  width:115px;
}
.mybookimage{
  /* position:relative; */
  object-fit: cover;
  width: 100px;
  height: 125px;
  margin:0px;
  padding: 0px;
}
.title-icon{
  width: 100px;
}
/* ------------------------------------
MBOOKDETAIL 
---------------------------------------*/
.bookdetail{
  position: fixed;
  top: 6em;
  width: 90%;
}
.book{
  /* position:relative; */
  object-fit: cover;
  width: 250px;
  height: 200px;
  margin:0px;
  padding: 0px;
}
.titleBook{
  font-weight: 500;
}
/* ------------------------------------
MINSTRUCTIONS 
---------------------------------------*/
.instructions{
  width: 350px;
  margin-left: 50%;
  left: -175px;
  top: 6em;
}
.overflow{
  overflow: scroll;
}
.textinstructions{
  /* width: 320px; */
  height: 65vh;
  /* margin-top: 10em; */
}

/* ------------------------------------
CATALOGUE 
---------------------------------------*/
.mcatalogue{
  padding-top: 5em;
}
.doodle{
  width: 350px;
}
/* ------------------------------------
THUMBNAIL - HOVER EFECT IMAGE TEXT
---------------------------------------*/
.file-thumbnail{
  height: 11.5em;
}
.file-thumbnail:hover .overlay{
  opacity: 1;
}
.thumbnail-book{
  position: absolute;
  object-fit: cover;
  width: 73%;
  height: 70%;
}
.overlay{
  position: absolute;
  width: 73%;
  height: 70%;
  background-color: #195492c7;
  transition: .35s ease;
  opacity: 0;
}
.text-rent{
  color:white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.text-title{
  position: relative;
  z-index: 10;
  top: 12em;
  text-transform: uppercase;
}
/* ------------------------------------
FOOTER 
---------------------------------------*/
.bg-cyan{
  background-color:#E1F7FB;
}
/* ------------------------------------
DELETE APCEPT ICON
---------------------------------------*/
.prevapceptIconOK{
  font-size: 20px;
  color: #cccaca;
}
.prevapceptIconDelete{
  font-size: 15px;
  color: #b5b3b3;
}
.closeIcon{
  font-size: 15px;
  color:  #EE7A71;
}