.header{
    /* position: fixed; */
    /* width: 90%; */
    margin: auto;
    z-index: 40;
    background-color: #E1F7FB;
}
.userIcon, .questionIcon{
    font-size: 30px;
    color: #29A18C;
    /* background-color: red; */
}
.loupe{
    font-size: 24px;
    color: #195392;
}
.logo{
    height: 2.64em;
}
.width100{
    width: 100%;
}
.width70{
    width: 70%;
}
form.search{
    height: 40px;
}
input.search{
    height: 35px;
}