.instructions{
    width: 350px;
    margin-left: 50%;
    left: -175px;
    top: 6em;
}
.overflow{
    overflow: scroll;
}
.prueba{
    /* width: 320px; */
    height: 65vh;
    /* margin-top: 10em; */
}
